$bg-color: #401f5c; //#71538a
$bg-color1: rgba(43, 43, 43, 0.72);
$bg-color2: #000000;
$bg-color3: #3f3f3f;//7b7b7b
$Text-color: #FFFFFF;
$text-color1: #ccfeab;
$text-color2: #FFFFFF;
$nav-Height: 60px;
$link-hover-color: #df2130;//8c8086
$dark: #FFFFFF;
$light: #000000;
$Price-text-color: #e42c2a;
$bg-color-checkbox: #6f6f6f;
$submit-button-color: #a2000a;
$sign-up-color: #cfc100;

@import "main";