$bg-color: #9670b4; //#71538a
$bg-color1: #b996d6;
$bg-color2: rgba(98, 163, 123, 0.72);
$bg-color3: rgba(200, 200, 200, 0.67);
$Text-color: #000000;
$text-color1: #4f6d2e;
$text-color2: #140041;
$nav-Height: 60px;
$link-hover-color: #d1d696;
$dark: #000000;
$light: #FFFFFF;
$Price-text-color: #e42c2a;
$bg-color-checkbox: #3b3b3b;
$submit-button-color: #3e3b3c;
$sign-up-color: rgba(98, 163, 123, 0.72);

@import "main";